  <%- include Partials/header.ejs %>
  
  <!--Main Content-->
  <hr class="divider" />
  
  <div class="col-left">
    <%- include Partials/main_nav.ejs %>
  </div>

  <div class="col-right">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </div>
    
<%- include Partials/footer.ejs %>