<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>

<!--Calculate food total-->
<% var foodTotal = 0 %>
<% for(let count=0;count<Datalist.length;count++) { %>
  <% if(Datalist[count].Category =="Food") { %>
  <% foodTotal += Datalist[count].Amount  %>
<% } %>
<% } %>  

<!--Calculate travel total-->
<% var travelTotal = 0 %>
<% for(let count=0;count<Datalist.length;count++) { %>
  <% if(Datalist[count].Category =="Travel") { %>
  <% travelTotal += Datalist[count].Amount  %>
<% } %>
<% } %>  

<!--Calculate housing total-->
<% var housingTotal = 0 %>
<% for(let count=0;count<Datalist.length;count++) { %>
  <% if(Datalist[count].Category =="Housing") { %>
  <% housingTotal += Datalist[count].Amount  %>
<% } %>
<% } %>  

<!--Calculate personal total-->
<% var personalTotal = 0 %>
<% for(let count=0;count<Datalist.length;count++) { %>
  <% if(Datalist[count].Category =="Personal") { %>
  <% personalTotal += Datalist[count].Amount  %>
<% } %>
<% } %>  

<!--Calculate subscriptions total-->
<% var subTotal = 0 %>
<% for(let count=0;count<Datalist.length;count++) { %>
  <% if(Datalist[count].Category =="Subscriptions") { %>
  <% subTotal += Datalist[count].Amount  %>
<% } %>
<% } %>  

<!--Calculate subscriptions total-->
<% var misTotal = 0 %>
<% for(let count=0;count<Datalist.length;count++) { %>
  <% if(Datalist[count].Category =="Miscellaneous") { %>
  <% misTotal += Datalist[count].Amount  %>
<% } %>
<% } %>  

<div id="dashboardPage">
  <p id="pageTitle">View Expenses By Category  </p>
  <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Food', 'Travel', 'Housing', 'Personal', 'Subscriptions', 'Miscellaneous'],
          datasets: [{
            label: 'Expense',
            data: [<%= foodTotal %>, <%=travelTotal%>, <%=housingTotal%>, <%= personalTotal%>, <%=subTotal%>, <%=misTotal %>],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
</div>



  <%- include Partials/footer.ejs %>