<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>

<% const isLoggedIn = (displayName || googleid); %>  
<!--(typeof displayName == 'string' && displayName) || (typeof googleid !== 'undefined' && googleid);-->
<main class="container">
    <div class="row">
        <div class="col py-3">
            <% if (isLoggedIn) { %>
                <h1><%= title %></h1>
                <br>
                <a href="/transactions/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add Expense
                </a>
                <table class="table table-bordered table-striped table-hover mt-3">
                    <!-- Table Header -->
                    <thead>
                        <tr class="d-flex">
                            <th class="text-center col-2">Name</th>
                            <th class="text-center col-2">Amount</th>
                            <th class="text-center col-1">Day</th>
                            <th class="text-center col-1">Month</th>
                            <th class="text-center col-1">Year</th>
                            <th class="text-center col-2">Category</th>
                            <th class="text-center col-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ExpenseList.forEach(expense => { %>
                            <tr class="d-flex">
                                <td class="text-center col-2"><%= expense.Name %></td>
                                <td class="text-center col-2"><%= expense.Amount %></td>
                                <td class="text-center col-1"><%= expense.Day %></td>
                                <td class="text-center col-1"><%= expense.Month %></td>
                                <td class="text-center col-1"><%= expense.Year %></td>
                                <td class="text-center col-2"><%= expense.Category %></td>
                                <td class="text-center col-2">
                                    <a href="/transactions/edit/<%= expense._id %>" class="btn btn-primary btn-sm" aria-label="Edit expense">
                                        <i class="fas fa-pencil-alt"></i> Edit
                                    </a>
                                    <a href="/transactions/delete/<%= expense._id %>" class="btn btn-danger btn-sm" aria-label="Delete expense">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <h1>Login to view transactions</h1>
            <% } %>
        </div>
    </div>
</main>

<%- include ../Partials/footer.ejs %>