<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
<% if((typeof displayName=='string' && displayName) || (typeof googleid=='string' && googleid )){%>   
    <main class="container">
        <div class="row">
            <div class="col py-3">
                <h1><%= title %></h1>
                <br>
                <!--Only show add button if user not logged in-->
                <% if((typeof displayName=='string' && displayName) || (typeof googleid=='string' && googleid )){%>
                    <a href="/transactins/add" class="btn tn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> Add Expense
                    </a>
                    <%}%>
            <table class="table table-bordered table-striped table-hover">
                <!--Table Header-->
                <tr class="d-flex">
                    <% if(typeof displayName=='string' && displayName){%>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-2">Amount</th>
                        <th class="text-center col-1">Day</th>
                        <th class="text-center col-1">Month</th>
                        <th class="text-center col-1">Year</th>
                        <th class="text-center col-2">Category</th>
                    <%} %>
                </tr>
                <% for(let count=0;count<ExpenseList.length;count++) { %>
                <tr class="d-flex">
                    <% if(typeof displayName=='string' && displayName){%>
                    <td class="text-center col-2"><%= ExpenseList[count].Name %></td>
                    <td class="text-center col-2"><%= ExpenseList[count].Amount %></td>
                    <td class="text-center col-1"><%= ExpenseList[count].Day %></td>
                    <td class="text-center col-1"><%= ExpenseList[count].Month %></td>
                    <td class="text-center col-1"><%= ExpenseList[count].Year %></td>
                    <td class="text-center col-2"><%= ExpenseList[count].Category %></td>
                    <td class="text-center col-1">
                        <a href="/transactions/edit/<%= ExpenseList[count]._id%>" 
                            class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i>Edit
                        </a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/transactions/delete/<%= ExpenseList[count]._id%>" 
                            class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>Delete
                        </a>
                        <% }else{ %>
                            <td class="text-center col-2"><%= ExpenseList[count].Name %></td>
                            <td class="text-center col-2"><%= ExpenseList[count].Amount %></td>
                            <td class="text-center col-1"><%= ExpenseList[count].Day %></td>
                            <td class="text-center col-1"><%= ExpenseList[count].Month %></td>
                            <td class="text-center col-1"><%= ExpenseList[count].Year %></td>
                            <td class="text-center col-2"><%= ExpenseList[count].Category %></td>
                        <% } %>
                    </tr>
                    <% } %>
            </table>
            </div>
        </div>
    </main> 
    
<% }else{ %>
    <h1>Login to view transactions</h1>
<% } %>
<%- include ../Partials/footer.ejs %>